*
{
    text-decoration: none;
}
.accueil, .fav1
{
    color: #E72E2E;
    font-size: 2rem;
    
}
.favs, .icon
{
    margin: 2em;
}
.fav, .accueil1
{
    color:#E72E2E80;
    font-size: 2rem;
}
#map
{
    height: 100vh;
}
.bouton
{
    display: flex;
    justify-content: space-around;
}
.lieu
{
    background-color: #F27373;
    display: flex;

}
.image
{
    border-radius: 1rem;
    border: solid;
    width: 8rem;
    background-color: white;
}
.action
{
    margin-left: auto;
    display: flex;
    align-items: flex-start;
}
.save
{
    background-color: #FFFFFFD4;
    position: relative;
}
.del
{
    color: #FFF6F6BF;
}